artifacts/

*.log
*.err.log
*.out.log

frontend/node_modules/
frontend/dist/
frontend/.angular/

backend/**/bin/
backend/**/obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
coverage/
